main.movements {
  min-height: calc(100vh - 70px);

  & h1.title {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
  }

  & article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 55vh;
    padding: 30px;
    min-width: 300px;
    background: rgb(189, 188, 188);
    height: clamp(200px, 40vw, 60vh);
    padding: 50px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }

  & aside{
    margin-top: 40px;
    overflow-y: auto;
    height: 90%;
  }

  & .card {
    display: flex;
    padding: 10px;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    border: 1px solid red;
    text-transform: capitalize;
    background: #eeebeb;



    & div p {
      margin-left: 20px;
      color: rgb(95, 73, 73);
    }
  }

  & .gray {
    border-color: rgb(27, 172, 97);;
  }
}
