main.loan {
  min-height: calc(100vh - 70px);
  position: relative;

  & h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  & form {
    display: grid;
    place-content: center;
    width: clamp(300px, 45vw, 600px);
    height: clamp(400px, 50vh, 700px);
    gap: 20px;
    background: rgb(189, 188, 188);

    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);

    & textarea {
      resize: none;
      height: 50px;
    }

    & div {
      display: flex;
      flex-direction: column;
    }

    & input[type="submit"] {
      cursor: pointer;
      padding: 8px;
      border-radius: 10px;
      border: 1px solid gray;
      transition: all 200ms ease-in-out;
    }
    & input[type="submit"]:hover  {
      background: #cc1212;
      color: white;
    }
  }
}
