main.main {
  min-height: calc(100vh - 70px);

  & article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: clamp(200px, 55vw, 400px);

    & section {
      position: relative;
      display: flex;
      gap: 10px;
      width: 100%;
      text-align: center;
      min-width: 400px;

      & div.transaction {
        min-height: 100px;
        min-width: 60%;
        display: flex;
        justify-content: center;


        & section.card {
          min-width: 80%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          position: relative;

          & h1 {
            position: absolute;
            left: 140px;
          }

          
          & div.info {
            min-width: 80%;

            & p{
              position: relative;
              right: 60px;
            }

            & p:nth-child(2){
              color: gray;
            }
          }
        }
      }

      & div.currency {
        min-width: 26%;
      }

      & div.actions {
        width: 100%;
        display: flex;
        justify-content: space-around;

        & button {
          border-radius: 50%;
          width: 80px;
          height: 80px;
          cursor: pointer;
          transition: all 200ms ease;
        }

        & button:hover {
          background: #b1adad;
          color: white;
          border: 1px solid black;
        }
      }

      & div {
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
      }

      & .transaction {
        display: flex;
        flex-direction: column;
      }

      & .currency {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
